body {
    padding: 20px;
}

.label {
    padding: 10px;
    color: black;
    margin: 3px;
    display: block;
}

.bg-success {
    padding: 10px;
}

h1 {
    text-align: center;
}

.required {
    color: red;
}

.inputButton {
    padding: 5px;
}